In [56]:
import pandas as pd
import requests

In [57]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

In [58]:
pd.DataFrame(response.json()['results'])[['id', 'title',	'overview']].head()

,id,title,overview
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o..."
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...
3,424,Schindler's List,The true story of how businessman Oskar Schind...
4,389,12 Angry Men,The defense and the prosecution have rested an...

In [59]:
all_movies = []

In [60]:
API_KEY = "8265bd1679663a7ea12ac168da84d2e8&"
BASE_URL = 'https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1'

for page in range(1, 429):
  params = {
    "api_key" : API_KEY,
    "language" : "en_US",
    "page" : page
  }

  response = requests.get(BASE_URL, params=params)

  if response.status_code != 200:
    print(f"Error on page {page}")
    break

  data = response.json()['results']
  all_movies.extend(data)

In [61]:
df = pd.DataFrame(all_movies)

In [62]:
df.shape

(8560, 14)

In [63]:
df.columns

Index(['adult', 'backdrop_path', 'genre_ids', 'id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'release_date', 'title', 'video', 'vote_average', 'vote_count'],
      dtype='object')

In [64]:
new_df = df[['id', 'title','overview' ]]

In [65]:
new_df.shape

(8560, 3)

In [66]:
genre_ids_api = "https://api.themoviedb.org/3/genre/movie/list?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US"

responseId = requests.get(genre_ids_api)

In [67]:
genre_ids_df = pd.DataFrame(responseId.json()['genres'])

In [68]:
genre_ids_df

       id             name
0      28           Action
1      12        Adventure
2      16        Animation
3      35           Comedy
4      80            Crime
5      99      Documentary
6      18            Drama
7   10751           Family
8      14          Fantasy
9      36          History
10     27           Horror
11  10402            Music
12   9648          Mystery
13  10749          Romance
14    878  Science Fiction
15  10770         TV Movie
16     53         Thriller
17  10752              War
18     37          Western

In [77]:
final_df = pd.merge(new_df, genre_ids_df, on = "id", how = "right")

In [78]:
final_df.shape

(19, 4)

In [79]:
final_df.name.value_counts()

name
Action             1
Adventure          1
Animation          1
Comedy             1
Crime              1
Documentary        1
Drama              1
Family             1
Fantasy            1
History            1
Horror             1
Music              1
Mystery            1
Romance            1
Science Fiction    1
TV Movie           1
Thriller           1
War                1
Western            1
Name: count, dtype: int64

In [69]:
import pandas as pd

# Example DataFrames
data1 = {
  'key': ['K0', 'K1', 'K2', 'K3'],
  'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj']
  }

data2 = {
  'key': ['K0', 'K1', 'K0', 'K0'],
  'Address': ['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj']
  }


df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# Merging
merged_df = pd.merge(df1, df2, on='key')
print(merged_df)

  key    Name    Address
0  K0     Jai     Nagpur
1  K0     Jai  Allahabad
2  K0     Jai    Kannuaj
3  K1  Princi     Kanpur