In [33]:
import pandas as pd

In [99]:
df = pd.read_csv("IMDB Dataset.csv")

In [100]:
df.shape

(50000, 2)

In [101]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

### Make lower case

In [37]:
df['review'] = df['review'].str.lower()

In [38]:
df.head()

                                              review sentiment
0  one of the other reviewers has mentioned that ...  positive
1  a wonderful little production. <br /><br />the...  positive
2  i thought this was a wonderful way to spend ti...  positive
3  basically there's a family where a little boy ...  negative
4  petter mattei's "love in the time of money" is...  positive

### Romove html tags

In [39]:
import re

html_count = 0
def Remove_html(text):
  global html_count
  pattern = re.compile(r'<.*?>') 
  if pattern.search(text):
    html_count += 1
  return pattern.sub(" ", text) # substitute / replace

In [40]:
df['review'] = df['review'].apply(Remove_html)
print(html_count)

29202

In [41]:
df.head()

                                              review sentiment
0  one of the other reviewers has mentioned that ...  positive
1  a wonderful little production.   the filming t...  positive
2  i thought this was a wonderful way to spend ti...  positive
3  basically there's a family where a little boy ...  negative
4  petter mattei's "love in the time of money" is...  positive

### Remove URL

In [42]:
count = 0
def Remove_URL(text):
  global count
  parttern = re.compile(r"https?://\S+|www\.\S+")
  if parttern.search(text):
    count += 1
  return parttern.sub(" ", text)

In [43]:
df['review'] = df['review'].apply(Remove_URL)
print(count)

191

### Puntuation Remove

In [44]:
pun_count = 0
def Remove_punctuation(text):
  global pun_count
  pattern = re.compile(r'[^\w\s]')
  if pattern.search(text):
    pun_count += 1
  return pattern.sub(" ", text)

In [45]:
df['review'] = df['review'].apply(Remove_punctuation)
print(pun_count)

49995

### chat word handel

In [46]:
# Chat word
chat_words = {
    "A3": "Anytime, Anywhere, Anyplace",
    "ADIH": "Another Day In Hell",
    "AFK": "Away From Keyboard",
    "AFAIK": "As Far As I Know",
    "ASAP": "As Soon As Possible",
    "ASL": "Age, Sex, Location",
    "ATK": "At The Keyboard",
    "ATM": "At The Moment",
    "BAE": "Before Anyone Else",
    "BAK": "Back At Keyboard",
    "BBL": "Be Back Later",
    "BBS": "Be Back Soon",
    "BFN": "Bye For Now",
    "B4N": "Bye For Now",
    "BRB": "Be Right Back",
    "BRUH": "Bro",
    "BRT": "Be Right There",
    "BSAAW": "Big Smile And A Wink",
    "BTW": "By The Way",
    "BWL": "Bursting With Laughter",
    "CSL": "Can’t Stop Laughing",
    "CU": "See You",
    "CUL8R": "See You Later",
    "CYA": "See You",
    "DM": "Direct Message",
    "FAQ": "Frequently Asked Questions",
    "FC": "Fingers Crossed",
    "FIMH": "Forever In My Heart",
    "FOMO": "Fear Of Missing Out",
    "FR": "For Real",
    "FWIW": "For What It's Worth",
    "FYP": "For You Page",
    "FYI": "For Your Information",
    "G9": "Genius",
    "GAL": "Get A Life",
    "GG": "Good Game",
    "GMTA": "Great Minds Think Alike",
    "GN": "Good Night",
    "GOAT": "Greatest Of All Time",
    "GR8": "Great",
    "HBD": "Happy Birthday",
    "IC": "I See",
    "ICQ": "I Seek You",
    "IDC": "I Don’t Care",
    "IDK": "I Don't Know",
    "IFYP": "I Feel Your Pain",
    "ILU": "I Love You",
    "ILY": "I Love You",
    "IMHO": "In My Honest Opinion",
    "IMU": "I Miss You",
    "IMO": "In My Opinion",
    "IOW": "In Other Words",
    "IRL": "In Real Life",
    "IYKYK": "If You Know, You Know",
    "JK": "Just Kidding",
    "KISS": "Keep It Simple, Stupid",
    "L": "Loss",
    "L8R": "Later",
    "LDR": "Long Distance Relationship",
    "LMK": "Let Me Know",
    "LMAO": "Laughing My Ass Off",
    "LOL": "Laughing Out Loud",
    "LTNS": "Long Time No See",
    "M8": "Mate",
    "MFW": "My Face When",
    "MID": "Mediocre",
    "MRW": "My Reaction When",
    "MTE": "My Thoughts Exactly",
    "NVM": "Never Mind",
    "NRN": "No Reply Necessary",
    "NPC": "Non-Player Character",
    "OIC": "Oh I See",
    "OP": "Overpowered",
    "PITA": "Pain In The Ass",
    "POV": "Point Of View",
    "PRT": "Party",
    "PRW": "Parents Are Watching",
    "ROFL": "Rolling On The Floor Laughing",
    "ROFLOL": "Rolling On The Floor Laughing Out Loud",
    "ROTFLMAO": "Rolling On The Floor Laughing My Ass Off",
    "RN": "Right Now",
    "SK8": "Skate",
    "STATS": "Your Sex And Age",
    "SUS": "Suspicious",
    "TBH": "To Be Honest",
    "TFW": "That Feeling When",
    "THX": "Thank You",
    "TIME": "Tears In My Eyes",
    "TLDR": "Too Long, Didn’t Read",
    "TNTL": "Trying Not To Laugh",
    "TTFN": "Ta-Ta For Now",
    "TTYL": "Talk To You Later",
    "U": "You",
    "U2": "You Too",
    'R' : 'are',
    "U4E": "Yours For Ever",
    "W": "Win",
    "W8": "Wait",
    "WB": "Welcome Back",
    "WTF": "What The Fuck",
    "WTG": "Way To Go",
    "WUF": "Where Are You From",
    "WYD": "What You Doing",
    "WYWH": "Wish You Were Here",
    "ZZZ": "Sleeping, Bored, Tired"
}

In [47]:
chat_words_count = 0
def replase_chat_word(text, chat_words):
  global chat_words_count 
  new_text = []
  spilt_text = text.split()

  for word in spilt_text:
    if word.upper() in chat_words:
      chat_words_count += 1
      new_text.append(chat_words[word.upper()])
    else:
      new_text.append(word)
  return " ".join(new_text)

In [48]:
df['review'] = df['review'].apply(lambda x : replase_chat_word(x, chat_words))
print(chat_words_count)

30492

### Spelling Correction

In [49]:
from textblob import TextBlob

In [50]:
def spelling_correction(text):
  textbolb = TextBlob(text)
  return textbolb.correct().string

In [51]:
# df['review'] = df['review'].apply(spelling_correction)

### Stop word remove

In [52]:
from nltk.corpus import stopwords

In [53]:
stop_word = stopwords.words('english')

In [54]:
def remove_stopwords(text):
  new_text = []

  for word in text.split():
    if word in stop_word:
      new_text.append('')
    else:
      new_text.append(word)
  
  return " ".join(new_text)

In [55]:
df['review'] = df['review'].apply(remove_stopwords)

In [56]:
df.head()

                                              review sentiment
0  one    reviewers  mentioned   watching  1 oz e...  positive
1   wonderful little production  filming techniqu...  positive
2   thought    wonderful way  spend Tears In My E...  positive
3  basically    family   little boy jake thinks  ...  negative
4  petter mattei  love   Tears In My Eyes  money ...  positive

### Tokonaization

In [57]:
from nltk.tokenize import word_tokenize, sent_tokenize

In [58]:
def tokemized(text):
  words = word_tokenize(text)
  return words

In [ ]:
# df['review'] = df['review'].apply(tokemized)

In [60]:
df.head()

                                              review sentiment
0  one    reviewers  mentioned   watching  1 oz e...  positive
1   wonderful little production  filming techniqu...  positive
2   thought    wonderful way  spend Tears In My E...  positive
3  basically    family   little boy jake thinks  ...  negative
4  petter mattei  love   Tears In My Eyes  money ...  positive

In [62]:
# use spacy
import spacy 
nlp = spacy.load('en_core_web_sm')

In [64]:
def tokenized_spacy(text):
  doc = nlp(text)
  token_word = []
  for word in doc:
    token_word.append(word)
  
  return token_word

In [68]:
# df['review'] = df['review'].apply(tokenized_spacy)

### Stemming

In [70]:
from nltk.stem.porter import PorterStemmer

In [87]:
ps = PorterStemmer()

def stem_word(text):

  split_word = text.split()

  ps_word = []
  for word in split_word:
    ps_word.append(ps.stem(word))  # from token to string
  
  return " ".join(ps_word)

In [89]:
df['review'] = df['review'].apply(stem_word)

In [90]:
df.head()

                                              review sentiment
0  one of the other review ha mention that after ...  positive
1  a wonder littl production. <br /><br />the fil...  positive
2  i thought thi wa a wonder way to spend time on...  positive
3  basic there' a famili where a littl boy (jake)...  negative
4  petter mattei' "love in the time of money" is ...  positive

### Lammatization

In [91]:
from nltk.stem import WordNetLemmatizer

In [95]:
Wordnet_lemmatizer = WordNetLemmatizer()
def lemmatizer(text):
  sen_split = text.split()

  lamma_word = []

  for word in sen_split:
    lamma_word.append(Wordnet_lemmatizer.lemmatize(word, pos = "v"))
  
  return lamma_word

In [96]:
lemmatizer("He is playing football")

['He', 'be', 'play', 'football']

In [102]:
df['review'] = df['review'].apply(lemmatizer)

In [103]:
df.head()

                                              review sentiment
0  [One, of, the, other, reviewers, have, mention...  positive
1  [A, wonderful, little, production., <br, /><br...  positive
2  [I, think, this, be, a, wonderful, way, to, sp...  positive
3  [Basically, there's, a, family, where, a, litt...  negative
4  [Petter, Mattei's, "Love, in, the, Time, of, M...  positive